.container {
  width: 600px;
  margin: auto;
  margin-top: 100px;
  background: linear-gradient(to right, #64b5f6, #1a91f2);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container hr {
  border: none;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}

.container h1 {
  text-align: center;
  font-size: 32px;
}

.container h2 {
  font-size: 24px;
  font-weight: 600;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border: 2px solid #e0e0e061;
}

.container ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.container button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #ffab40;
}

.container .index {
  text-align: center;
  font-size: 16px;
}

.container .correct {
  background-color: rgba(47, 253, 98, 0.8);
  border-color: #02dea0;
}

.container .wrong {
  background-color: rgba(250, 58, 58, 0.8);
  border-color: #ff4a4a;
}
